<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="EBUS2ConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=catalog;Persist Security Info=True;User ID=user;Password=pass"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
   <roleManager enabled="true" defaultProvider="SqlRoleManager">
     <providers>
       <add name="SqlRoleManager"
            type="System.Web.Security.SqlRoleProvider"
            connectionStringName="EBUS2ConnectionString"
            applicationName="MyApplication" />
     </providers>
   </roleManager>
   <authentication mode="Forms">
     <forms loginUrl="~/desktop/Login.aspx" defaultUrl="~/desktop/Home.aspx" />
   </authentication>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
   <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="20">
         <providers>
           <clear/>
           <add
          name="SqlProvider"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="EBUS2ConnectionString"
          applicationName="MyApplication"
          enablePasswordRetrieval="false"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="true"
          requiresUniqueEmail="true"
          passwordFormat="Hashed"
           />
         
     </providers>
   </membership>

   <pages maintainScrollPositionOnPostBack="true">
     <namespaces>

       <add namespace="System.Data.SqlClient" />
       <add namespace="System.IO" />
       <add namespace="System.Data" />
       <add namespace="System" />
       <add namespace="System.Text" />
       <add namespace="System.Web.UI" />
       <add namespace="System.Web.UI.WebControls" />
       
     </namespaces>
   </pages>
   
 </system.web>
 <system.net>
  <mailSettings>
   <smtp from="Web Admin">
    <network host="smtp.email.com" password="password" port="587"
     userName="username" enableSsl="true" />
   </smtp>
  </mailSettings>
 </system.net>
</configuration>
